* {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  background: rgb(34, 193, 195);
  background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(45, 136, 253, 1) 100%);
}

.container {
  max-width: 1140px;
  margin: auto;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px black;
  padding: 50px;
  background-color: #fff;
}

.photo {
  width: 20%;
}

.intro {
  width: 80%;
  padding-left: 50px;
  font-size: 30px;
}

.photo img {
  max-width: 100%;
  border-radius: 200px;
  box-shadow: 10px 10px 20px #000000;
}

.lessons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.lesson {
  width: 40%;
  margin-bottom: 50px;
  border-radius: 20px;
  background: #fff;
}

.image {
  max-width: 100%;
  height: 200px;
}

.description {
  padding-bottom: 30px;
}

h2 {
  margin-bottom: 70px;
  color: aliceblue;
}

a {
  display: block;
  margin: auto;
  width: 400px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  background-color: rgb(0, 225, 255);
  border-radius: 10px;
}

a:hover {
  position: relative;
  top: -5px;
  left: -5px;
  box-shadow: 10px 10px 20px black;
}

section {
  margin-bottom: 100px;

}