* {
  box-sizing: border-box;
}

.main-site {
  padding: 50px 0;
  font-family: sans-serif;
  color: #fff;
}

.main-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 50px 0;
  text-align: center;
  background-color: #006a00;
}

.card {
  width: 1280px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 36px;
}

.card__subtitle {
  display: block;
  margin-bottom: 90px;
}

.card-list {
  display: flex;
  justify-content: space-between;
}

.card-list__item {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 45px;
  color: #1a1820;
  background-color: #fff;
}

.card-list__title {
  margin-top: 0;
  margin-bottom: 33px;
  font-size: 19px;
}

.card-list__price {
  margin-top: 26px;
  margin-bottom: 23px;
  font-size: 19px;
  font-weight: 700;
}

.card-list__price-bold {
  font-size: 30px;
}

.description-list {
  height: 135px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
}

.description-list__item {
  font-size: 18px;
  margin-bottom: 5px;
}

.description-list__item:before {
  content: '✔';
  margin-right: 9px;
  color: green;
}

.card-list__button {
  align-self: center;
  padding: 26px 59px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 8px;
  background-color: #ffb504;
}

.additional-card {
  padding-top: 112px;
  padding-bottom: 120px;
}

.card-list__item_background-none {
  padding-top: 0;
  padding-bottom: 0;
  background: none;
}

.card-list__button_size-small {
  margin-top: 49px;
  margin-bottom: 0;
  padding: 18px 50px;
  font-size: 16px;
  margin-left: 33px;
  font-size: 16px;
  font-weight: 700;
}