* {
  box-sizing: border-box;
}

.main-site {
  padding: 50px 0;
  font-family: sans-serif;
  color: #fff;
}

.main-services {
  margin-bottom: 50px;
  padding: 50px 0;
  text-align: center;
  background-color: #006a00;
}

.services {
  margin:auto;
  max-width: 1280px;
}

.services__title {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 36px;
}

.services__subtitle {
  display: block;
  margin-bottom: 90px;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.service-item {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  color: #1a1820;
  background-color: #fff;
}

.service-item__title {
  margin-top: 48px;
  font-size: 19px;
}

.service-item__image {
  margin-top: 13px;
}

.service-item__price {
  margin-top: 26px;
  margin-bottom: 26px;
  font-size: 19px;
  font-weight: 700;
}

.service-item__price-bold {
  font-size: 30px;
}

.service-description {
  height: 135px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.service-description__list-item {
  font-size: 18px;
  margin-bottom: 5px;
}

.service-description__list-item:before {
  content: '✔';
  margin-right: 9px;
  color: green;
}

.service-item__button {
  align-self: center;
  padding: 26px 59px;
  margin-top: 22px;
  margin-bottom: 45px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 8px;
  background-color: #ffb504;
}

.additional-services {
  padding-top: 112px;
  padding-bottom: 120px;
}

.add-service-item {
  background: none;
}

.add-service-item__image {
  margin-top: 0;
}

.add-service-item__button {
  margin-top: 49px;
  margin-bottom: 0;
  padding: 18px 50px;
  font-size: 16px;
  margin-left: 33px;
  font-size: 16px;
  font-weight: 700;
}