* {
  box-sizing: border-box;
}

.l-wrapper {
  padding: 50px 0;
  font-family: sans-serif;
  color: #fff;
}

.l-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 50px 0;
  text-align: center;
  background-color: #006a00;
}

.b-card {
  width: 1280px;
}

.b-card__title {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 36px;
}

.b-card__subtitle {
  display: block;
  margin-bottom: 90px;
}

.b-card__list {
  display: flex;
  justify-content: space-between;
}

.b-card-item {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 45px;
  color: #1a1820;
  background-color: #fff;
}

.b-card-item__title {
  margin-top: 0;
  margin-bottom: 33px;
  font-size: 19px;
}

.b-card-item__price {
  margin-top: 26px;
  margin-bottom: 23px;
  font-size: 19px;
  font-weight: 700;
}

.b-card-item__price_font-weight_bold {
  font-size: 30px;
}

.b-card-item__sublist {
  height: 135px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
}

.b-card-item__option {
  font-size: 18px;
  margin-bottom: 5px;
}

.b-card-item__option:before {
  content: '✔';
  margin-right: 9px;
  color: green;
}

.b-button {
  align-self: center;
  padding: 26px 59px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 8px;
  background-color: #ffb504;
}

.l-content__add {
  padding-top: 112px;
  padding-bottom: 120px;
}

.b-card-item_background_none {
  padding-top: 0;
  padding-bottom: 0;
  background: none;
}

.b-button_size_small {
  margin-top: 49px;
  margin-bottom: 0;
  padding: 18px 50px;
  font-size: 16px;
  margin-left: 33px;
  font-size: 16px;
  font-weight: 700;
}