* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f6f6;
}

.card-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1010px;
  padding: 64px 93px 64px 48px;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
}

.image-product {
  max-width: 376px;
}

.product-description {
  max-width: 393px;
}

.image {
  max-width: 100%;
}

h1 {  
  font-size: 18pt;
  margin-bottom: 30px;
}

.description p {
  margin-bottom: 55px;
}

.price p {
  margin-bottom: 23px;
}

.cost {
  font-size: 18pt;
  margin-bottom: 56px;
}

button {
  padding: 16px 39px;
  font-size: 14pt;
  color: #ffffff;
  background-color: #ec744a;
  border: 0;
}

@media (max-width: 768px) {
  .card-product {
    flex-direction: column;
    align-items: center;
    padding: 64px 48px;
  }
  .product-description {
    margin-top: 50px;
  }
}