body {
  box-sizing: border-box;
  min-width: 991px;
  padding: 10%;
  background-color: #f6f6f6;
}

main {
  padding: 10%;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
}

.image {
  display: inline-block;
  float: left;
  width: 50%;
}

.product-description {
  display: inline-block;
  float: left;
  width: 50%;
}

.clearfix {
  clear: both;
}

h1, p, button {
  margin-left: 5%;
}

h1, p {
  text-align: left;
}

h1 {
  font-size: 18pt;
}

p {
  font-size: 12pt;
}

.price {
margin-top: 15%;
}

.cost {
  margin-top: 0;
  font-size: 18pt;
}

button {
  width: 250px;
  height: 50px;
  margin-top: 10%;
  color: #ffffff;
  background-color: #ec744a;
  border: 0;
}