* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 991px;
  height: 100vh;
  background-color: #f6f6f6;
}

.card-product {
  position: relative;
  top: 50%;
  margin-top: -250px;
  width: 84%;
  max-width: 1008px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
}

.image-product,
.product-description {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  text-align: center;
}

.image-product {
  margin-right: -4px;
}

.image {
  margin: 64px 0;
  width: 80%;
  max-width: 376px;
}

.product-description {
  padding-left: 23px;
}

h1, p, .cost, .buscket {
  text-align: left;
}

h1 {  
  font-size: 18pt;
  margin-bottom: 23px;
}

.description p {
  width: 80%;
  margin-bottom: 55px;
}

.cost {
  font-size: 18pt;
  margin-top: 0;
  margin-bottom: 55px;
}

button {
  width: 252px;
  height: 50px;
  font-size: 14pt;
  color: #ffffff;
  background-color: #ec744a;
  border: 0;
}